/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

body {
  display: grid;
  grid-template-rows: [row1-top] auto [row-button] auto;
  grid-template-columns: [col1-start] auto [col2-end] 5%;
  min-height: 100vh;
  max-height: 100vh;
}

.hero {
  background-color: rgb(200, 224, 254);
  height: 800px;
  margin: 4rem;
  position: relative;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 800px;
  height: 600px;
}

.container {
  width: 1250px;
  height: 800px;
  display: flex;
  align-items: center;
  position: relative;
}

.title-container {
  background-color: white;
  width: 500px;
  height: 450px;
  z-index: 1;
  position: absolute;
  right: 90px;
  padding: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.title-container h1 {
  font-size: 3.8rem;
  font-weight: bold;
}

.title-container p {
  line-height: 30px;
}

.title-container button {
  width: 120px;
  background-color: white;
  border: 1px solid black;
  padding: 0.7rem 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(58, 58, 58);
  transition: all 0.3s ease-in-out;
}

.title-container button:hover {
  cursor: pointer;
  background-color: rgb(58, 58, 58);
  color: white;
}

section {
  grid-row: row-button;
  grid-column: col1-start;
  min-width: 90%;
}

.aside {
  position: sticky;
  grid-row: row-button;
  grid-column: col2-end;
  display: flex;
  justify-content: end;
  max-height: 100vh;
  min-height: 100vh;
}
li {
  list-style: none;
}
.smlink {
  max-width: 25px;
  max-height: 25px;
  margin: 0.5em;
}
