/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

body {
   display: grid;
   grid-template-rows: [row1-top] auto [row-button] auto;
   grid-template-columns: [col1-start] auto [col2-end] 5%;
   min-height: 100vh;
   max-height: 100vh;
}

section{
    grid-row: row-button;
    grid-column: col1-start;
    min-width: 90%;
}

.aside {
    position: sticky;
    grid-row: row-button;
    grid-column: col2-end;
    display: flex;
    justify-content: end;
    max-height: 100vh;
    min-height: 100vh;
}
li{
    list-style: none;
}
.smlink {
    max-width: 25px;
    max-height: 25px;
    margin: .5em;
}